@media screen and (max-width:768px) {
  body {
          width: 100%;
          margin-left: 15px;
    }

  nav, header, footer, .sticky {
          margin-right: 15px;
  }

  article {
          width: 100%;
          margin: 10px 15px 0 0;
  }

  aside {
          width: 100%;
          margin: 0 15px 0 0;
  }

  .sticky {
          position: relative;
          width: 100%;
  }
}
