@media screen and (max-width:768px) {
  body {
          width: 100%;
          /*margin-bottom: 15px;*/
    }

  article {
          width: 100%;
          margin: 10px 0 0 0;
  }

  aside {
          width: 100%;
          margin: 0 0 0 0;
  }

  .sticky {
          position: relative;
          width: 100%;
  }

  nav, header, article, aside, footer, .sticky {
          margin-left: 15px;
          margin-right: 15px;
  }
}
