body {
        width: 992px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: black;
        margin: auto;
        display: flex;
        flex-direction: column;
}

nav {
        display: flex;
        justify-content: space-around;
        color: white;
        background: #811922;
        background: linear-gradient(#811922,#A90E25);
        padding: 30px 30px 30px 30px; /* clockwise from the top */
}

section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
}

section>div {
        padding: 10px 0px 10px 0px;
}

div[data-name="loginrot13"] {
        background-color: #3877C0;
        color: white;
}


div[data-name="loginlength"] {
        background-color: #B8E986;
        color: #104079;
}

.container {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0px 0px 0px;
}

article {
        display: flex;
        width: 70%;
        padding: 0px 10px 0px 0px;
}

article>div {
        padding: 10px 10px 10px 10px;
        background: #F7F7F7;
        width: 100%;
}

aside {
        display: flex;
        background: #E3E3E3;
        width: 30%;
}

aside>div {
        padding: 10px 10px 10px 10px;
}
