body
{
  width: 992px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

nav
{
  display: flex;
  justify-content: space-around;
  background-color: #811922;
  padding: 10px 10px 10px 10px;
  /* padding is clockwise from the top */
}

section
{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

section>div
{
  padding: 5px 0px 5px 0px;  
}

div[data-index="1"]
{
  background-color: #3877C0;
}


div[data-index="2"]
{
  background-color: #B8E986;
  color: #104079;
}
